name: Terraform Drift Detection

on:
  workflow_call:
    inputs:
      tf_working_dir:
        required: false
        type: string
        default: "."
      aws_region:
        required: false
        type: string
        default: "us-east-2"

jobs:
  drift-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Debug - list files
        run: ls -la

      - name: Debug - show tfvars file
        run: cat terraform.tfvars

      - name: Terraform Init
        working-directory: ${{ inputs.tf_working_dir }}
        run: terraform init -input=false

      - name: Terraform Plan (Drift Detection)
        run: terraform plan -input=false -no-color -detailed-exitcode
