name: Terraform Drift Detection

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  drift-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Debug - list files
        run: ls -la

      - name: Debug - show tfvars file
        run: cat terraform.tfvars

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Plan (Drift Detection)
        run: terraform plan -input=false -no-color -detailed-exitcode
